<%= form_with(model: [ @user, person ], local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag avatar(person, 100), class: 'rounded' %>
      </div>
      <div class="col-sm-8">
        <%= form.file_field :avatar %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, as: :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
