<%# user to person [ @user, person ] %>
<%# user to person [ @user, @person, person ] %>
<% array = @person.nil? ? [ @user, person ] : [ @user, @person, person ] %>

<%= form_with(model: array, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, as: :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
