<div class="collapse" id="person-<%= person.id %>">
  <div class="card card-body">
    <%= person.notes %>
    <hr>
    <table class="table-hover table-borderless table">
      <% if person.experiences.size.positive? %>
        <tr>
          <td><strong>EXPERIENCES</strong></td>
        </tr>
        <% person.experiences.each do |experience| %>
          <tr>
            <td><%= experience.experience_type %></td>
            <td><%= experience.location %></td>
            <td><%= experience.description %></td>
          </tr>
        <% end %>
      <% end %>
      <% if person.interests.size.positive? %>
        <tr>
          <td><strong>INTERESTS</strong></td>
        </tr>
        <% person.interests.each do |interest| %>
          <tr>
            <td><%= interest.name %></td>
          </tr>
        <% end %>
      <% end %>
      <% if person.bonds.size.positive? %>
        <tr>
          <td><strong>BONDS</strong></td>
        </tr>
        <% person.bonds.each do |bond| %>
          <tr>
            <td><%= bond.name %></td>
            <td><%= bond.relationship %></td>
            <td><%= bond.notes %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
