<% if user_id = params[:user_id] || params[:id] %>
  <a data-toggle="collapse" href="#person-<%= person.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag avatar(person, 25), class: 'rounded-circle' %>
  </a>
  <%= link_to user_person_path(user_id, person) do %>
    <%= "#{ person.name }" %>
  <% end %>
<% else %>
  <%= image_tag avatar(person, 25), class: 'rounded-circle' %>
  <%= "#{ person.name }" %>
<% end %>

<div class="collapse" id="person-<%= person.id %>">
  <div class="card card-body">
    <%= person.notes %>
    <hr>
    <table>
      <tr><td>EXPERIENCES</td></tr>
      <% person.experiences.each do |experience| %>
        <tr>
          <td>Type:</td>
          <td><%= experience.experience_type %></td>
        </tr>
        <tr>
          <td>Location:</td>
          <td><%= experience.location %></td>
        </tr>
        <tr>
          <td>Details:</td>
          <td><%= experience.description %></td>
        </tr>
      <% end %>
      <tr><td>INTERESTS</td></tr>
      <% person.interests.each do |interest| %>
        <tr>
          <td><%= interest.name %></td>
        </tr>
      <% end %>
      <tr><td>BONDS</td></tr>
      <% person.bonds.each do |bond| %>
        <tr>
          <td><%= bond.first_name %></td>
          <td><%= bond.last_name %></td>
          <td><%= bond.relationship %></td>
          <td><%= bond.notes %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
