<% if user_id = params[:user_id] || params[:id] %>
  <a data-toggle="collapse" href="#person-<%= person.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag avatar(person, 25), class: 'rounded-circle' %>
  </a>
  <%= link_to user_person_path(user_id, person) do %>
    <%= "#{ person.name }" %>
  <% end %>
<% else %>
  <%= image_tag avatar(person, 25), class: 'rounded-circle' %>
  <%= "#{ person.name }" %>
<% end %>

<div class="collapse" id="person-<%= person.id %>">
  <div class="card card-body">
    <%= person.notes %>
  </div>
</div>
