<p id="notice"><%= notice %></p>

<h1>People</h1>

<%= form_tag import_user_people_path(@user), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Upload' %>
<% end %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= image_tag url_for(avatar(person, 50)), class: 'rounded-circle' %></td>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= link_to 'Show', user_person_path(@user, person) %></td>
      <td><%= link_to 'Edit', edit_user_person_path(@user, person) %></td>
      <td><%= link_to 'Destroy', user_person_path(@user, person), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_user_person_path(@user) %>
