<p id="notice"><%= notice %></p>

<div class="row">
  <div class="card mb-3" style="max-width: 540px; margin: 10px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= fa_icon "user 4x", class: "card-img", alt: "Add a person" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Add a person</h5>
          <p class="card-text"><%= link_to 'New Person', new_user_person_path(@user) %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px; margin: 10px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= fa_icon "users 4x", class: "card-img", alt: "Import people" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Import people</h5>
          <p class="card-text">
            <%= form_tag import_user_people_path(@user), multipart: true do %>
              <%= file_field_tag :file, class: "btn btn-link" %>
              <%= submit_tag 'Upload', class: "btn btn-primary" %>
            <% end %>
          </p>
          <p class="card-text">
            <small class="text-muted">Google Contacts or LinkedIn Connections</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<table class="table table-hover">
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td>
        <a data-toggle="collapse" href="#person-<%= person.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag avatar(person, 25), class: 'rounded-circle' %>
        </a>
        <%= render 'people/mini_profile', person: person %>
      </td>
      <td><%= link_to person.first_name, user_person_path(@user, person) %></td>
      <td><%= link_to person.last_name, user_person_path(@user, person) %></td>
      <td><%= link_to 'Edit', edit_user_person_path(@user, person) %></td>
      <td><%= link_to 'Destroy', user_person_path(@user, person), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>


