<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= link_to 'Show', user_person_path(@user, person) %></td>
        <td><%= link_to 'Edit', edit_user_person_path(@user, person) %></td>
        <td><%= link_to 'Destroy', user_person_path(@user, person), method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_user_person_path(@user) %>
