<%= form_with(model: [@user, @person, interaction], local: true) do |form| %>
  <% if interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% interaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, data: { controller: "mentions", target: "mentions.field" } %>
  </div>

  <div class="field">
    <%= form.label :private_interaction %>
    <%= form.check_box :private_interaction %>
  </div>

  <div id='reminders'>

    <%= form.fields_for :reminders do |reminder| %>

      <%= render 'reminders/reminder_fields', f: reminder %>

    <% end %>

    <div class='links'>
      <%= link_to_add_association 'add reminder', form, :reminders, partial: 'reminders/reminder_fields' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
