<%= form_with(model: [ @user, event ], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= form.text_field :title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.created_at&.strftime("%A %B %-d, %Y") %></h6>
      <hr>
      <p class="card-text"><%= form.label :reminder_datetime %>: <%= form.datetime_select :reminder_datetime, default: nil, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'} %> <%= form.label :reminder_note %>: <%= form.text_field :reminder_note %></p>
      <p class="card-text"><%= form.rich_text_area :notes, data: { controller: "mentions", target: "mentions.field" } %></p>
      <p class="card-text"><%= form.label :location %>: <%= form.text_field :location %></p>
      <hr>
      <%= form.submit %>
      <%= link_to 'Destroy', user_event_path(@user, event), method: :delete, data: {confirm: 'Are you sure?'} unless event.new_record? %>
    </div>
  </div>
<% end %>
