<p id="notice"><%= notice %></p>

<p>
  <strong>Experience type:</strong>
  <%= @experience.experience_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @experience.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @experience.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Role:</strong>
  <%= @experience.role %>
</p>

<%= link_to 'Edit', edit_user_person_experience_path(@user, @person, @experience) %> |
<%= link_to 'Back', user_person_path(@user, @person) %>
