<%= form_with(model: [@user, @person, bond], local: true) do |form| %>
  <% if bond.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bond.errors.count, "error") %> prohibited this bond from being saved:</h2>

      <ul>
        <% bond.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.text_field :relationship %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, as: :date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes, data: { controller: "mentions", target: "mentions.field" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
